
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: rgba(255, 255, 255, 0.87);
color: #242424;

}
/* 
@font-face {
  font-family: 'Poppins'
  src: url('./fonts/YourFontFile.woff2') format('woff2'),
       url('./fonts/YourFontFile.woff') format('woff'),
       url('./fonts/YourFontFile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

